<h1 align='center' class = "title is-2 has-text-primary" >Editar solicitud</h1>

<%= form_with(model: @request, method: :patch, url: requests_update_path(:id => @request.id)) do |form| %>

    <%if @request.user_id == current_user.id%>
        <div>
            <label class="label">Descripcion</label>
            <%= form.text_field :descripcion%>
        </div>
    <% end %>
    <%if @request.turno.user_id == current_user.id%>
        <% def options_for_status
            [
            ['Aceptar Solicitud','ACEPTADO'],
            ['Rechazar Solicitud','RECHAZADO'],
            ['Mantener Pendiente','PENDIENTE']
            ]
        end %>
        <div>
            <label class="label">Respuesta Solicitud</label>
            <%= form.select :estado, options_for_status, {}, prompt: 'Select One' %>
        </div>
    <% end %>
    <div>
        <%= form.submit 'Editar' %>
    </div>

<% end %>
