<h1>Chats</h1>

<div class="columns">
  <div class="column is-narrow">
    <div class="box" style="width: 200px;">
        <p class="title is-5">Chats de turnos</p>
        <% @no_vacio = false %>
        <% @mensaje.each do |mensaje|%>
            <%if mensaje.user_id == current_user.id %>
                <% @turno = Turno.find(mensaje.turno.id)%> 
                <%if @turno.estado == "COMPLETADO"%>
                    <% @no_vacio = true %>
                    <div class="row">
                        <a>
                            <%= button_to @mensaje.turno_id, mensaje_index_path(id_viaje: @mensaje.turno.id, ), class: "button is-white" %>
                        </a>
                    </div>
                <% end %>
            <% end %>
        <% end %>
        <% if not @no_vacio %>
            <p class="title is-5">No te han aceptado en un turno</p>
        <% end %>
    </div>
  </div>
  <div class="column">
    <div class="box">
        <%= render "mensajes/show.html.erb", @chat_turno %>
    </div>
  </div>
</div>
