<div class="container">
    <div class="leftSide">
        <div class="head">
            <!--<div class="userimg">
                <img src="user.jpg" class="cover">
            </div>-->
            <p class="title is-5">Chats de turnos</p>
        </div>
        <div class="search_chat">
            <div>
                <input type="text" placeholder="Buscar un chat">
                <ion-icon name="search-outline"></ion-icon>
            </div>
        </div>
        <div class="chatlist">
            <div class="block">
                <div class="details">
                    <div class="listhead">
                        <h4>Numero turno1</h4>
                        <p class="time">10:30</p>
                    </div>
                    <div class="message_p">
                        <p>Nombre usuario: contenido mensaje</p>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="details">
                    <div class="listhead">
                        <h4>Numero turno2</h4>
                        <p class="time">10:30</p>
                    </div>
                    <div class="message_p">
                        <p>Nombre usuario: contenido mensaje</p>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="details">
                    <div class="listhead">
                        <h4>Numero turno3</h4>
                        <p class="time">10:30</p>
                    </div>
                    <div class="message_p">
                        <p>Nombre usuario: contenido mensaje</p>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="details">
                    <div class="listhead">
                        <h4>Numero turno4</h4>
                        <p class="time">10:30</p>
                    </div>
                    <div class="message_p">
                        <p>Nombre usuario: contenido mensaje</p>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="details">
                    <div class="listhead">
                        <h4>Numero turno4</h4>
                        <p class="time">10:30</p>
                    </div>
                    <div class="message_p">
                        <p>Nombre usuario: contenido mensaje</p>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="details">
                    <div class="listhead">
                        <h4>Numero turno4</h4>
                        <p class="time">10:30</p>
                    </div>
                    <div class="message_p">
                        <p>Nombre usuario: contenido mensaje</p>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="details">
                    <div class="listhead">
                        <h4>Numero turno4</h4>
                        <p class="time">10:30</p>
                    </div>
                    <div class="message_p">
                        <p>Nombre usuario: contenido mensaje</p>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="details">
                    <div class="listhead">
                        <h4>Numero turno4</h4>
                        <p class="time">10:30</p>
                    </div>
                    <div class="message_p">
                        <p>Nombre usuario: contenido mensaje</p>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="details">
                    <div class="listhead">
                        <h4>Numero turno4</h4>
                        <p class="time">10:30</p>
                    </div>
                    <div class="message_p">
                        <p>Nombre usuario: contenido mensaje</p>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="details">
                    <div class="listhead">
                        <h4>Numero turno4</h4>
                        <p class="time">10:30</p>
                    </div>
                    <div class="message_p">
                        <p>Nombre usuario: contenido mensaje</p>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="details">
                    <div class="listhead">
                        <h4>Numero turno4</h4>
                        <p class="time">10:30</p>
                    </div>
                    <div class="message_p">
                        <p>Nombre usuario: contenido mensaje</p>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="details">
                    <div class="listhead">
                        <h4>Numero turno4</h4>
                        <p class="time">10:30</p>
                    </div>
                    <div class="message_p">
                        <p>Nombre usuario: contenido mensaje</p>
                    </div>
                </div>
            </div>
        </div>
            
    </div>
    <div class="rightSide">
        <div class="head">
            <div class="imgText">
                <h4>numero turno chat</h4>
            </div>
        </div>
        <div class="chatBox">
            <div class="my_message">
                <p>Buenas q tal?<br>12:15<span></p>
            </div>
            <div class="frnd_message">
                <p>Nombre usuario<br>Bien y tu?<br>12:18<span></p>
            </div>
                <div class="my_message">
                <p>Buenas q tal?<br>12:15<span></p>
            </div>
            <div class="frnd_message">
                <p>Nombre usuario<br>Bien y tu?<br>12:18<span></p>
            </div>
                <div class="my_message">
                <p>Buenas q tal?<br>12:15<span></p>
            </div>
            <div class="frnd_message">
                <p>Nombre usuario<br>Bien y tu?<br>12:18<span></p>
            </div>
                <div class="my_message">
                <p>Buenas q tal?<br>12:15<span></p>
            </div>
            <div class="frnd_message">
                <p>Nombre usuario<br>Bien y tu?<br>12:18<span></p>
            </div>
                <div class="my_message">
                
                <p>Buenas q tal?<br>12:15<span></p>
            </div>
            <div class="frnd_message">
                <p>Nombre usuario<br>Bien y tu?<br>12:18<span></p>
            </div>
                <div class="my_message">
                <p>Buenas q tal?<br>12:15<span></p>
            </div>
            <div class="frnd_message">
                <p>Nombre usuario<br>Bien y tu?<br>12:18<span></p>
            </div>
                <div class="my_message">
                <p>Buenas q tal?<br>12:15<span></p>
            </div>
            <div class="frnd_message">
                <p>Nombre usuario<br>Texto mas largo que es necesario para probar como quedan los mensajes largos y ya no se que es crboir<br>12:18<span></p>
            </div>
        </div>
        
        
    </div>
</div>
