/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.bg-img {
    background-image: linear-gradient(rgba(238, 88, 88, 0.5), rgba(238, 88, 88, 0.5)), url(https://images7.alphacoders.com/617/617537.jpg);
    background-position: center center;
    background-repeat:  no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(238, 88, 88, 0.5);
}

#menu_list {
    height: 150px;
    width: 150px;
}

#boton_turnos {
    margin: 10px;
}

#boton_sign_out {
    margin: 10px;
}

#boton_volver {
    background-color: transparent;
    margin: 10px;
}

#ver_detalles {
    background-color: transparent;
    margin: 10px;
}

html {
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: transparent;
}

.column {
    float: left;
    width: 100%;
    padding: 10px;
}

.column-turno {
    float: left;
    width: 200px;
    padding: 10px;
    background-color: rgba(238, 88, 88, 0.5);
    border: solid 1px; 
    margin: 5px;
}

.column-cuenta {
    float: left;
    width: 100%;
    padding: 10px;
}
  
.row:after {
  content: "";
  display: table;
  clear: both;
}

h4 {
    color: rgb(29, 33, 29);
}

h1,
h2,
h3,
h4 {
    text-align: center;
}

a {
    color: hsl(171, 100%, 41%);
  }

.navbar-dropdown{
    background-color: hsl(0, 0%, 4%);
}
.dropdown-content{
    background-color: hsl(0, 0%, 4%);
}
.dropdown-divider{
    background-color: hsl(0, 0%, 4%);
}

input {
    text-align: center;
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
}
  