<h1>Cuenta</h1>

<p>
    <strong>Id usuario: </strong>
    <%= @user.id %>
</p>
<p>
    <strong>Nombre: </strong>
    <%= @user.name %>
</p>
<p>
    <strong>Email: </strong>
    <%= @user.email %>
</p>

<%= link_to 'Volver', turnos_index_path%>